@font-face {
  font-family: "Calibre-Semibold";
  src: url("./font/Calibre-Semibold.woff") format("woff"), url("./font/Calibre-Semibold.ttf") format("truetype"), url("./font/Calibre-Semibold.svg#Calibre-Semibold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Calibre-Medium";
  src: url("./font/Calibre-Medium.woff") format("woff"), url("./font/Calibre-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Calibre-Regular";
  src: url("./font/Calibre-Regular.woff") format("woff"), url("./font/Calibre-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/*--------------------------
    variables
---------------------------*/
/*--------------------------
    base settings
---------------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 62.5em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 54%;
  }
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 51%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Calibre-Regular", sans-serif;
  font-size: 1.6rem;
  background-color: #000000;
  color: #FFFFFF;
  overflow-x: hidden;
  cursor: none;
  position: relative;
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 20em) {
  body {
    overflow-x: scroll;
  }
}

main {
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(min-content, 10rem)) 1fr;
}

.noScroll {
  overflow-y: hidden;
}

.smooth-scroll-wrapper {
  position: relative;
  width: 100vw;
}

section {
  transition: transform 0.25s;
  will-change: transform;
}

.preloader {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  z-index: 20;
}
.preloader #logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.preloader svg {
  animation: fill 0.6s ease-in forwards 1s;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #09F755;
  }
}
.cursor {
  width: 2rem;
  height: 2rem;
  border: 2.5px solid #FFFFFF;
  border-radius: 50%;
  position: absolute;
  top: -10rem;
  left: -10rem;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transform-origin: 100% 100%;
  transition: all 0.3s ease;
  transition-property: background, transform;
}
@media only screen and (max-width: 62.5em) {
  .cursor {
    opacity: 0;
  }
}

/*--------------------------
    typography
---------------------------*/
.heading-2 {
  font-size: 4rem;
  letter-spacing: -1px;
  text-transform: capitalize;
}

.heading-3 {
  font-size: 4rem;
  text-transform: capitalize;
  letter-spacing: -0.5px;
  line-height: 4rem;
  font-family: "Calibre-Medium", sans-serif;
}

.heading-4 {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.heading-5 {
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.title-1 {
  font-size: 2.5rem;
}

.paragraph {
  font-size: 2rem;
  color: #bdbdbd;
}

/*--------------------------
    button
---------------------------*/
.cta {
  background-color: #09F755;
  padding: 1.5rem 4rem 1.0rem;
  text-decoration: none;
  color: #000000;
  border-radius: 10rem;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-family: "Calibre-Semibold", sans-serif;
  letter-spacing: 3px;
  border: 1.5px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.cta:hover {
  background-color: transparent;
  border: 1.5px solid #FFFFFF;
  color: #FFFFFF;
}

/*--------------------------
    utilities
---------------------------*/
.pri-color {
  color: #09F755;
}

.sec-color {
  color: #bdbdbd;
}

.mb-l {
  margin-bottom: 5rem;
}

.mb-m {
  margin-bottom: 3rem;
}

.mb-s {
  margin-bottom: 1.3rem;
}

.mt-s {
  margin-top: 1rem;
}

.contact {
  grid-column: 2/14;
  padding: 6rem;
}
.contact-box__wrapper {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  grid-gap: 4rem;
}
.contact-box a {
  font-size: 2.75rem;
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Calibre-Medium", sans-serif;
  transition: color 0.2s ease-in-out;
}
.contact-box a:hover {
  color: #09F755;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 4rem;
  color: #797575;
}

.nav-container {
  position: absolute;
  padding: 4rem;
  top: 0;
  left: 0;
}
.nav-container .nav-icon {
  background-color: #000;
  position: absolute;
  right: 4rem;
  top: 2.5rem;
  z-index: 10;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav-container .nav-icon .bar1, .nav-container .nav-icon .bar2, .nav-container .nav-icon .bar3 {
  width: 20px;
  height: 2px;
  margin: 4px 0;
  transition: 0.4s;
  background-color: #FFFFFF;
  border-radius: 1rem;
}
.nav-container .nav-icon .bar2 {
  width: 30px;
  transform-origin: right;
}
.nav-container .nav-main {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.nav-container .nav-main .box-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
}
.nav-container .nav-main .box-wrapper .box {
  background-color: #09F755;
  width: calc(100vw / 4);
  height: 0vh;
}
.nav-container .nav-main .mobile-logo {
  position: absolute;
  top: 4rem;
  left: 4rem;
  z-index: 2;
  filter: brightness(1%);
  opacity: 0;
}
.nav-container .nav-main__content {
  opacity: 0;
  visibility: hidden;
  width: 95vw;
  position: absolute;
  top: 15rem;
  left: 4rem;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  grid-gap: 4rem;
  padding: 4rem;
  color: #000000;
}
.nav-container .nav-main__content--box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 25rem;
}
.nav-container .nav-main__content--box .social-links {
  display: flex;
  flex-direction: column;
}
.nav-container .nav-main__content--box .social-links--box {
  display: flex;
  align-items: center;
}
.nav-container .nav-main__content--box .social-links--box img {
  margin-right: 2rem;
  height: 1.7rem;
  filter: brightness(1%);
}
.nav-container .nav-main__content--box .social-links--box:nth-child(2) {
  margin-top: 1rem;
}
.nav-container .nav-main__content--box .resume {
  font-size: 5rem;
  text-decoration: none;
  color: #000000;
  font-family: "Calibre-Medium", sans-serif;
  letter-spacing: -2px;
  align-self: flex-start;
  transition: all 0.2s ease-in-out;
}
.nav-container .nav-main__content--box .resume:hover {
  letter-spacing: 3px;
}
.nav-container .nav-main__content--box .list {
  justify-self: flex-start;
}
.nav-container .nav-main__content--box .list__item {
  list-style: none;
}
.nav-container .nav-main__content--box .list__item:not(:last-child) {
  margin-bottom: 3.5rem;
}
.nav-container .nav-main__content--box .list__item a {
  text-transform: uppercase;
  font-size: 3rem;
  text-decoration: none;
  color: #000000;
  font-family: "Calibre-Medium", sans-serif;
  letter-spacing: -1px;
  transition: all 0.2s ease-in-out;
}
.nav-container .nav-main__content--box .list__item a:hover {
  letter-spacing: 3px;
}
.nav-container .nav-sub {
  position: absolute;
}

.header {
  position: relative;
  overflow: hidden;
  min-height: 80rem;
}
@media only screen and (max-width: 37.5em) {
  .header {
    min-height: 70rem;
  }
}
.header:after {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background: url("./img/svg/home-bg.svg") 100% 0 no-repeat;
}
@media only screen and (max-width: 56.25em) {
  .header:after {
    transform: rotate(90deg);
    background-position: 50% 0%;
    left: 0;
    bottom: 0;
  }
}
.header .hero {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-70%);
}
@media only screen and (max-width: 56.25em) {
  .header .hero {
    top: 55%;
  }
}

.text-container {
  width: 25rem;
  position: relative;
  overflow: hidden;
  height: 10rem;
  margin: 1rem 0 1rem -2rem;
}
.text-container video {
  position: absolute;
  top: 0;
  width: 24rem;
  height: 10rem;
}
.text-container svg {
  position: absolute;
  top: -5rem;
  left: -2rem;
  width: 27rem;
}
.text-container span {
  font-size: 8rem;
  color: rgba(255, 255, 255, 0);
  text-transform: lowercase;
  font-family: "Calibre-Semibold", sans-serif;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
}

.nav-anim .bar1 {
  transform: rotate(-45deg) translate(-6px, 7px);
}

.nav-anim .bar2 {
  transform: translateX(200%);
  opacity: 0;
}

.nav-anim .bar3 {
  transform: rotate(45deg) translate(-7px, -8px);
}

.project {
  grid-column: 2/14;
  padding: 6rem;
}
.project-box__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 4rem;
  color: #000000;
  margin-top: 6rem;
}
.project-box {
  padding: 2rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.project-box:hover {
  border: solid 2px #FFFFFF;
  color: #FFFFFF;
}
.project .project-box-1 {
  background: linear-gradient(to bottom, #F3CBAB, #FEEDCA);
}
.project .project-box-2 {
  background: linear-gradient(to bottom, #B1E5F9, #F4D2FE);
}
.project .project-box-3 {
  background: linear-gradient(to bottom, #DBB4F3, #EFB7D7);
}
.project .project-box-4 {
  background: linear-gradient(to bottom, #EFA971, #E4CAFE);
}
.project .project-box-5 {
  background: linear-gradient(to right, #B1E5F9, #F4D2FE);
}
.project-box__link-expand {
  width: min-content;
}
.project-box__link {
  align-self: flex-end;
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 56.25em) {
  .project-box__link {
    width: 30%;
  }
}
.project-box__content {
  align-self: center;
}

.project-box {
  background: linear-gradient(to bottom, #F3CBAB, #FEEDCA);
}
.project-box:after {
  content: "";
  position: absolute;
  width: 103%;
  height: 101%;
  top: 1rem;
  right: 0;
  z-index: -1;
}
.project-box:hover {
  background: none;
  background-color: #000000;
}
.project-box:hover img {
  filter: invert(1);
}
.project-box:hover:after {
  outline: 2px solid #FFFFFF;
}

.web {
  grid-column: 2/14;
  padding: 6rem;
}
.web-box__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 4rem;
  margin-top: 6rem;
}
.web-box {
  padding: 2rem 2rem 0.5rem 2rem;
  border: 1px solid #797575;
  border-bottom: 4px solid #09F755;
}
.web-box a {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  text-transform: capitalize;
  text-decoration: none;
  color: #797575;
  font-family: "Calibre-Medium", sans-serif;
  transition: color 0.3s ease-in-out;
}
.web-box a img {
  align-self: flex-end;
  height: 2rem;
}
.web-box a:hover {
  color: white;
}